.viewport-container {
  float: left;
  position: relative;
  border: var(--viewport-border-thickness) solid #fe6601/*var(--ui-border-color)*/;
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid #fe6601/*var(--active-color)*/;
}
